<div class="flex flex-column flex-center" on-tap="addFirstStat()" on-hold="addSecondStat()">
    <div class="cards" ng-class="{'double-yellow': isYellow && isRed}">
        <div ng-show="isFoul && isYellow" ng-click="removeCard()" class="yellow flex flex-center">
            <i ng-show="state === 'edit'" class="icon ion-close"></i>
        </div>
        <div ng-show="isFoul && isRed" ng-click="removeCard()" class="red flex flex-center">
            <i ng-show="state === 'edit'" class="icon ion-close"></i>
        </div>
    </div>
    <div class="circle flex flex-center">
        <h2>{{data.num}}</h2>
        <i ng-show="showFirst" class="icon ion-checkmark-circled"></i>
        <i ng-show="showSecond" class="icon ion-close-circled"></i>
    </div>
    <h4 class="ellipse">{{data.name}}</h4>
    <div class="stat">
        <h3 ng-show="state === 'new' && isSub">{{data.type}}</h3>
        <h3 ng-show="state === 'new' && !isSub">{{firstStat}}<span ng-show="isSecondStat">/{{secondStat}}</span></h3>
        <div ng-show="state === 'edit'" class="edit flex">
            <input type="tel" ng-model="firstStat" class="flex-one"/>
            <input ng-show="isSecondStat" type="tel" ng-model="secondStat" class="flex-one"/>
        </div>
    </div>
</div>