<ion-view view-title="Home" ng-controller="homeController as homeCtrl">
    <ion-content class="home-page">
        <div class="hero flex flex-center-vertical">
            <div class="flex flex-center-vertical">
                <div class="img-container flex flex-center flex-one">
                    <img src="img/sample/logo-small.png"/>
                </div>
                <h2>SEA</h2>
            </div>
            <div class="flex-one">
                <p class="text-center">DATE</p>
                <p class="text-center">TIME</p>
            </div>
            <div class="flex flex-center-vertical">
                <h2>FCD</h2>
                <div class="img-container flex flex-center flex-one">
                    <img src="img/sample/logo-small.png"/>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="flex">
                <a href="#/possession" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/possession-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>POSSESSION</h3>
                    </div>
                </a>
                <a href="#/shots" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/shot-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>SHOTS/GOALS</h3>
                    </div>
                </a>
            </div>

            <div class="flex">
                <a href="#/passes" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/pass-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>PASSES</h3>
                    </div>
                </a>
                <a href="#/fouls" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/foul-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>FOULS</h3>
                    </div>
                </a>
            </div>

            <div class="flex">
                <a href="#/tackles" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/tackle-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>TACKLES</h3>
                    </div>
                </a>
                <a href="#/subs" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/sub-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>SUBS</h3>
                    </div>
                </a>
            </div>

            <div class="flex">
                <a href="#/misc" class="col flex flex-center flex-column">
                    <div class="flex flex-one flex-column">
                        <div class="flex-one"></div>
                        <img src="img/misc-icon.svg"/>
                        <div class="flex-one"></div>
                        <h3>MISC</h3>
                    </div>

                </a>
                <a class="col flex flex-center">
                    <h3>SUBMIT<br/>STATS</h3>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>