<ion-view view-title="Passes" ng-controller="passesController as passCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="passCtrl.edit()">
            {{passCtrl.state === 'new' ? 'Edit' : 'Done'}}
        </button>
    </ion-nav-buttons>
    <ion-content class="passes-page">
        <div class="hero">

        </div>
        <div>
            <div class="field">
                <div class="back-layer">
                    <img src="img/full-field.svg" />
                </div>
                <div class="player-layer">
                    <player-card is-second-stat="true" name="player.name" num="player.num" ng-repeat="player in players" style="left:{{player.x}}%; top:{{player.y}}%"></player-card>
                </div>
            </div>
            <div class="bench">
                <h3>BENCH</h3>
                <div>
                    <player-card is-second-stat="true" name="'Barret'" num="19"></player-card>
                    <player-card is-second-stat="true" name="'Kovar'" num="11"></player-card>
                    <player-card is-second-stat="true" name="'Fisher'" num="29"></player-card>
                    <player-card is-second-stat="true" name="'Mansaray'" num="80"></player-card>
                    <player-card is-second-stat="true" name="'Jones'" num="17"></player-card>
                    <player-card is-second-stat="true" name="'Scott'" num="20"></player-card>
                    <player-card is-second-stat="true" name="'Roldan'" num="7"></player-card>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
