<ion-view view-title="Shots" ng-controller="shotsController as shotsCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="shotsCtrl.edit()">
            {{shotsCtrl.state === 'new' ? 'Edit' : 'Done'}}
        </button>
    </ion-nav-buttons>
    <ion-content class="shots-page">
        <div class="loading flex flex-center" ng-show="shotsCtrl.isBusy">
            <ion-spinner icon="ripple"></ion-spinner>
        </div>

       <div ng-show="!shotsCtrl.isBusy" class="hero flex flex-center flex-space-between">
            <div class="stat flex flex-column flex-center">
                <h2>{{shots.length}}</h2>
                <h3 class="ellipse">SHOT<span ng-show="shots.length !== 1">S</span></h3>
            </div>
            <div class="stat flex flex-column flex-center">
                <h2>{{on}}</h2>
                <h3 class="ellipse">ON GOAL</h3>
            </div>
            <div class="stat flex flex-column flex-center">
                <h2>{{off}}</h2>
                <h3 class="ellipse">OFF GOAL</h3>
            </div>
            <div class="stat flex flex-column flex-center">
                <h2>{{blocked}}</h2>
                <h3 class="ellipse">BLOCKED</h3>
            </div>
       </div>

        <div ng-show="!shotsCtrl.isBusy" class="body">
            <div id="shots" class="shots relative">
                <div class="back-layer">
                    <img src="img/shots-background.svg">
                </div>

                <div class="svg-container">
                    <svg class="lines" preserveAspectRatio="xMinYMin meet">
                        <g>
                            <defs>
                                <marker id="arrow1" orient="auto" markerWidth="2" markerHeight="4" refX="0.1" refY="2" style="fill:#5DA97B">
                                    <path d="M0 0 V4 L2 2 Z"></path>
                                </marker>
                                <marker id="block1" orient="auto" markerWidth="5" markerHeight="5" refX="0.1" refY="2" style="stroke:#5DA97B;stroke-width:2;">
                                    <path d="M0 0 L0 4"></path>
                                </marker>
                            </defs>
                        </g>
                        <g ng-repeat="shot in shots track by $index">
                            <g style="opacity: .5;">
                                <line ng-if="shot.type !== 'blocked'" x1="{{shot.shotPos.x}}%" y1="{{shot.shotPos.y}}%" x2="{{shot.resultPos.x}}%" y2="{{shot.resultPos.y}}%" style="stroke:#5DA97B;stroke-width:1.5%;marker-end:url(#arrow1);" />
                                <line  ng-if="shot.type === 'blocked'" x1="{{shot.shotPos.x}}%" y1="{{shot.shotPos.y}}%" x2="{{shot.resultPos.x}}%" y2="{{shot.resultPos.y}}%" style="stroke:#5DA97B;stroke-width:1.5%;marker-end:url(#block1);" />
                                <circle ng-if="shot.type === 'on'" cx="{{shot.shotPos.x}}%" cy="{{shot.shotPos.y}}%" r="3.5%" stroke="#5DA97B" stroke-width="1.5%" fill="#FFF" />
                                <circle ng-if="shot.type === 'goal'" cx="{{shot.shotPos.x}}%" cy="{{shot.shotPos.y}}%" r="3.5%" fill="#5DA97B" />
                            </g>
                        </g>
                        <g>
                            <line  x1="{{shotsCtrl.currentShot.shotPos.x}}%" y1="{{shotsCtrl.currentShot.shotPos.y}}%" x2="{{shotsCtrl.currentShot.resultPos.x}}%" y2="{{shotsCtrl.currentShot.resultPos.y}}%" style="stroke:#5DA97B;stroke-width:1.5%;" />
                            <circle on-drag="shotsCtrl.dragHandle($event, 'result')" on-release="shotsCtrl.onRelease()" cx="{{shotsCtrl.currentShot.resultPos.x}}%" cy="{{shotsCtrl.currentShot.resultPos.y}}%" r="5%" stroke="#5DA97B" stroke-width="2%" fill="#444" />
                            <circle on-drag="shotsCtrl.dragHandle($event, 'shot')" on-release="shotsCtrl.onRelease()" cx="{{shotsCtrl.currentShot.shotPos.x}}%" cy="{{shotsCtrl.currentShot.shotPos.y}}%" r="5%" stroke="#5DA97B" stroke-width="2%" fill="#FFF" />
                        </g>
                    </svg>
                </div>
            </div>
            <form name="shotForm" class="details list">
                <div class="list flex">
                    <div class="flex-one">
                        <label class="item item-radio">
                            <input type="radio" ng-model="shotsCtrl.currentShot.type" value="goal" name="group">
                            <div class="item-content">
                                Goal
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" ng-model="shotsCtrl.currentShot.type" value="on" name="group">
                            <div class="item-content">
                                On Goal
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                    <div class="flex-one">
                        <label class="item item-radio">
                            <input type="radio" ng-model="shotsCtrl.currentShot.type" value="off" name="group">
                            <div class="item-content">
                                Off Goal
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" ng-model="shotsCtrl.currentShot.type" value="blocked" name="group">
                            <div class="item-content">
                                Blocked
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>

                </div>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Taken By
                    </div>
                    <select ng-options="o.player.name for o in players" ng-model="shotsCtrl.currentShot.takenBy" required>
                    </select>
                </label>

                <label class="item item-input item-select" ng-class="{'disabled': shotsCtrl.currentShot.type !== 'goal'}">
                    <div class="input-label">
                         Assisted By
                    </div>
                    <select ng-options="o.player.name for o in players" ng-model="shotsCtrl.currentShot.assistedBy">
                    </select>
                </label>

                <button ng-click="shotsCtrl.addShot(shotsCtrl.currentShot)" class="button button-block button-positive">
                    Add Shot
                </button>

            </form>
        </div>
    </ion-content>
</ion-view>