<ion-view view-title="Tackles" ng-controller="tacklesController as tacklesCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="tacklesCtrl.edit()">
            {{tacklesCtrl.state === 'new' ? 'Edit' : 'Done'}}
        </button>
    </ion-nav-buttons>
    <ion-content class="field-page">
        <div class="hero">

        </div>
        <div>
            <div class="field">
                <div class="back-layer">
                    <img ng-class="{'disabled': tacklesCtrl.state === 'edit'}" src="img/full-field.svg" />
                </div>
                <div class="player-layer">
                    <player-card data="player.data" ng-repeat="player in players track by $index" style="left:{{player.data.x}}%; top:{{player.data.y}}%"></player-card>
                </div>
            </div>
            <div class="bench">
                <h3>BENCH</h3>
                <div>
                    <player-card data="player.data" ng-repeat="player in bench track by $index"></player-card>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
