* {
    font-family: "Myriad Pro",Helvetica, Arial, sans-serif;
}

body, html {
    font-family: "Myriad Pro Semibold";
    background-color: #F2F2F2;
}

div span,
div.title.header-item {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {

}

h2 {
    margin:0;
    font-size: 32px;
    font-weight:600;
}

h3 {
    font-size: 20px;
    font-weight:500;
}

h4 {
    font-weight:bold;
}

p {
    color: #FFF;
    line-height: 15px;
    font-family: "Myriad Pro Semibold", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

img {

}

select.ng-invalid-required.ng-touched,
input.ng-invalid-email.ng-touched,
input.ng-invalid-pattern.ng-touched,
input.ng-invalid-required.ng-touched {
    background-color: #FFE1E1;
    border:1px solid #FF7373;
}

/* Flex Styles */
.flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -ms-flex !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.flex-center {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-horizontal {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-center-vertical {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-stretch {
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}

.flex-align-bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-one {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-two {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex-three {
    -webkit-flex: 3 !important;
    -ms-flex: 3 !important;
    flex: 3 !important;
}

.flex-initial {
    -webkit-flex: initial !important;
    -ms-flex: initial !important;
    flex: initial !important;
}

.img-container {
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.disabled {
    opacity: 0.25;
    pointer-events:none;
}

.disabled-invisible {
    pointer-events:none;
}

.text-center {
    text-align: center;
}

.ellipse {
    padding-top: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 2px;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.empty {
    margin-top: 10px !important;
}

.loading {
    margin: 80% 0;
}

ion-header-bar.bar.bar-soccer {
    background-color: #5DA97B !important;
    border-color: #5DA97B !important;
}

.button-positive {
    background-color:#5DA97B !important;
    border-color:#5DA97B !important;
}

.button-calm {
    background-color:#1C3D68 !important;
    border-color:#1C3D68 !important;
}

.button-assertive {
    background-color:#FF7373 !important;
    border-color:#FF7373 !important;
}

.ion-ios-drag {
    font-size: 35px;
    margin-top: -2px;
}

/* Page Defaults */
ion-content .hero {
    background-color: #222;
    border-bottom: 1px solid #444;
    color:#FFF;
    padding: 35px 10px;
}

ion-content .body {
    padding: 2%;
}

ion-content .hero h2 {
    color:#FFF;
}

ion-content .hero > div:not(.stat) > h2 {
    margin: 0 10px;
    min-width: 58px;
}

.list .item .ion-close-circled {
    padding: 18px;
    font-size: 20px;
    margin-right: -16px;
    color: #FF7373;
}

/* Login Page */
.login-page .logo img {
    width: 100%;
    padding: 5% 20%;
}

.login-page p {
    color:#DDD;
}

/* Home Page */
.home-page a {
    position: relative;
}

.home-page a .icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.home-page .ion-android-time {
    display: block;
    font-size: 85px;
    height: 85px;
    color: #B4B4B4;
}

.home-page .list {
    padding: 0 !important;
}

.home-page .submit {
    background-color:#5DA97B;
    min-height: 130px !important;
}

.home-page .submit h3 {
    color:#FFF !important;
}

.home-page .list .row {
    padding: 0;
}

.home-page .list .col {
    min-height: 200px;
    border: 1px solid #ddd;
    margin-left: -1px;
    margin-bottom: -1px;
}

.home-page .list .col img:not(.icon) {
    margin: 0 15%;
    min-width: 100%;
}

.home-page .list .col h3 {
    text-align: center;
    color:#5DA97B;
}

/* Possession Page */
.possession-page {

}

.possession-page .opponent,
.possession-page .team {
    min-height: 215px;
    opacity: 0.1;
}

.possession-page .opponent.selected,
.possession-page .team.selected {
    opacity: 1;
}

.possession-page .team {
    background-color:#5DA97B;
    margin-right: 2px;
}

.possession-page .opponent {
    background-color:#B4B4B4;
}

.possession-page .opponent img {
    height: 30px;
}

/* Shot Controller */
.shots-page .svg-container {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.shots-page .shots > div:first-child {
    width:100%;
    position: relative;
}

.shots-page .shots > div:first-child img {
    width:100%;
}

.shots-page .shots .back-layer {
    position: absolute;
    top:0;
    left:0;
}

.shots-page .shots .lines {
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.shots-page .hero {
    margin-bottom: 20px;
}

    .shots-page .hero h3 {
        font-size: 11pt;
        color:#5DA97B;
    }

    .shots-page .hero h3 {
        font-size: 11pt;
        color:#5DA97B;
    }

.shots-page .details {
    margin-top: 20px;

}

/* Edit Shots Modal */
.edit-shots-modal .selected {
    background-color:#5DA97B;
}

.edit-shots-modal .selected h3,
.edit-shots-modal .selected p {
    color:#FFF;
}

.edit-shots-modal .hero {
    margin-bottom: 0 !important;
}

.edit-shots-modal .button-container {
    padding: 0 10px;
    
}

/* Players Page */
.players-page .img-container {
    height: 65px;
    width: 65px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.players-page h3 span {
    color: #B4B4B4;
}


/* Field Page */
.field-page .field {
    position: relative;
}

.field-page .field .back-layer img {
    width: 100%;
}

.field-page .field .player-layer {
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.field-page .field player-card {
    position: absolute;
}

.field-page .bench player-card {
    float:left;
    margin-right: 2px;
    margin-bottom: 2px;
}

/* Fouls page */
.fouls-page .hero .red,
.fouls-page .hero .yellow {
    width: 17vw;
    height: 24vw;
    margin: 0 2vw;
}

.fouls-page .hero .red i,
.fouls-page .hero .yellow i {
    font-size: 10vw;
    color: #222;
}

.fouls-page .hero .yellow {
    background-color: #FFFF73;
}

.fouls-page .hero .red {
    background-color: #FF7373;
}

.fouls-page .hero p {
    margin-left: 10px;
}

/* Games page */
.games-page {

}

.games-page .hero label {
    width: 100%;
}

/* Subs page */
.subs-page {

}

.subs-page .button-container {
    padding-left: 10px;
}

.subs-page .button-container .button.button-block,
.subs-page .button-container .button.button-full {
    margin-top: 2px !important;
    margin-bottom: 0 !important;
}

.subs-page .hero player-card > div {
    border: 1px solid #444;
}

.subs-page .hero > div > i {
    font-size: 6vw;
    margin: 0 2vw;
}

.subs-page .hero .close i {
    font-size: 10vw;
    margin: 0 2vw;
}

/* Misc Build */
.misc-page input {
    padding: 10px 0;
    text-align: center;
    font-size: 36px;
    height: auto;
}

.misc-page .hero h4 {
    color:#5DA97B;
    text-align: center;
}

.misc-page h1 {
    color:#FFF;
    margin-bottom: 0;
}

.misc-page .icon {
    font-size: 32px;
    color:#FFF;
}

.misc-page .hero {
    min-height: 205px;
}

.misc-page .scroll > div.hero:nth-child(2),
.misc-page .scroll > div.hero:nth-child(4) {
    background-color: transparent;
}

.misc-page .hero > div:first-child {
    margin: 0 4vw;
}

.misc-page .hero > div:first-child img {
    margin-bottom: 10px;
    max-width: 100%;
}

.misc-page .hero > div:last-child .count {
    background-color:#5DA97B;
    margin: 0 1px;
}

.misc-page .hero > div > div:not(.count) {
    background-color: #444;
}

/* Time Page */
.time-page {

}

.time-page input[type=time] {
    border: 1px solid #ddd;
    padding: 10px;
    height: 41px;
    margin: 10px 0;
    width: 100%;
}

.time-page p {
    margin-bottom: 0 !important;
}

.time-page h3 {
    font-size: 13px;
}

.time-page h4 {
    padding: 10px;
    background-color: #5DA97B;
    color:#FFF;
}

.time-page .body > .flex  > div:first-child {
    margin-right: 20px;
}

/* Submit Stats Modal */
.submit-stats-modal .icon {
    font-size: 33px;
}

.submit-stats-modal h3 {
    margin:0 10px !important;
}